<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figuras Geométricas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="from-container">
        <h2>Figuras Geométricas</h2>
        
        <div class="figuras-contenedor">      
                  
            <div class="figura-item">
            <img src="img/Cuadrado 1.png" alt="Cuadrado" class="figura-img">                
            <div class="boton-columna">
                <button class="boton-azul" onclick="window.location.href='/cuadrado'">Cálcular Área</button>
                <button class="boton-azul" onclick="window.location.href='/cuadrado'">Cálcular Perímetro</button>
            </div>
        </div>            
            
            <div class="figura-item">
            <img src="img/Triangulo 2.png" alt="Triángulo" class="figura-img"> 
            <div class="boton-columna">
                <button class="boton-azul" onclick="window.location.href='/triangulo'">Cálcular Área</button>
                <button class="boton-azul" onclick="window.location.href='/triangulo'">Cálcular Perímetro</button>
            </div>
        </div>            
            
            <div class="figura-item">
            <img src="img/Circulo 3.png" alt="Círculo" class="figura-img"> 
            <div class="boton-columna">
                <button class="boton-azul" onclick="window.location.href='/circulo'">Cálcular Área</button>
                <button class="boton-azul" onclick="window.location.href='/circulo'">Cálcular Perímetro</button>
            </div>
        </div>
    </div>
</body>
</html>