<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figuras Geométricas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="from-container">
        <h2>Figuras Geométricas</h2>
        
        <div class="figuras-contenedor">      
                  
            <div class="figura-item">
            <img src="img/Circulo 3.png" alt="Circulo" class="figura-img">                
            <div class="boton-columna">
            <input type="number" id="radio" class="numero-input" placeholder="Radio">
                <button class="boton-azul">Cálcular</button>
            </div>
        </div>
    
        </div>
    </div>
</body>
</html>