<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figuras Geométricas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="from-container">
        <h2>Figuras Geométricas</h2>
        
        <div class="figuras-contenedor">      
                  
            <div class="figura-item">
            <img src="img/Cuadrado 1.png" alt="Cuadrado" class="figura-img">                
            <div class="boton-columna">
            <input id="base"number" type="text" class="numero-input" placeholder="Base">          
            <input id="altura"number" type="text" class="numero-input" placeholder="Altura">
                <button class="boton-azul" onclick="FiguraService(lado)">Cálcular</button>
                <input id="base"number" type="text" class="numero-input" placeholder="Resultado">
                <button class="boton-azul" onclick="window.location.href='/'">Inicio</button>
            </div>
        </div>
         </div>   
    </div>
</body>
</html>